<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    Hola server nuevo desde views
    <h1>ejs</h1>

  </body>
</html>
