doctype html
html
  head
    title Tareas
  body
    form(action=`/tasks/${tasks.id}?_method=PUT` method="POST")
      textarea(name="description")=tasks.description
      input(type="submit" value="Guardar")
